<div class="row">
	<div class="home">
	  <h1>I love chaos </br>but only to a certain degree ;-)</h1>
	  <h2>lnknzr - helps organizing your links</h2>
	  <p>
	  	<%= link_to "Sign Up Now", new_user_registration_path, class: "btn btn-large btn-success" %>
	  </p>
  </div>
</div>