@import 'bootstrap';

html{

}

body{
	padding-top: 60px;
}

/* Reihenfolge wichtig */
@import 'bootstrap-responsive';

.home{
    /* background: rgb(255, 255, 255); */
    /* Fall-back for browsers that don't support rgba */
    /* background: rgba(255, 255, 255, .6); */
	background: transparent;
	color: $white;
	text-align: center;
	padding-top: 5.5em;
}

/* Alles wichtig für den Hintergrund auf der HomePage */
.homepage{
	background: transparent;
}
.homepage_html{
	background:url('background.jpg') no-repeat center center;

    /* Ensure the html element always takes up the full height of the browser window */
    min-height: 100%;

    /* The Magic */
    background-size:cover;
}

.footer{
	margin-top: 50px;
	/*color: $grayLight;*/
	a {
		color: $gray;
	}
}

/* Einstellungen für Handydisplays */
@media(max-width: 480px) {
  h1 {
    font-size: 30pt;
    line-height: 30pt;
  }
  h2{
	font-size: 20pt;
	line-height: 20pt;
  }
  .home{
  	padding-top: 2.5em;
  }
}